* {
    margin: 0;
}

header {
    background: dodgerblue;
    font-family:Arial, Helvetica, sans-serif;
    padding: 40px;
}

h2 {
    padding: 10px;
}

body {
    width: 1000px;
    margin: auto;
}

main {
    /* Włączanie flexboxa */
    display: flex;
    flex-wrap: wrap;
}

article {   
    padding: 20px;
    flex: 3;
}

aside {
    flex: 1;
    background: orange;
}

aside, section, footer, p{
    padding: 15px;
}

ul {
    padding: 20px;
}


li {
    padding: 2px;
}

footer {
    background: skyblue;
    
    text-align: center;
}
