
th, td {
    border: 1px solid black;

    padding: 5px;
}

table {
    border-collapse: collapse;
    
}

th {
    width: 250px; 

    background-color: rgb(48, 48, 48);
    color: white; 
} 

td {
    text-align: center;
}

tr:nth-child(2n + 1) {
    background-color: rgb(196, 196, 196);
}
